section.filters {
    height: 70px;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    float:right;
    margin: 11px 30px;
    opacity: 0.9;
}
div.locations{
    border-right: 1px solid #DDDDDD;
    display: inline-block;
    width: 25%;
    height: 100%;
    padding-left: 30px;
}
div.amenities{
    display: inline-block;
    width: 25%;
    height: 100%;
    padding-left: 30px;
}
div.locations h3, div.amenities h3{
    font-weight: 600;
    line-height: 0px;
    padding-top: 9px;
}
div.locations h4, div.amenities h4{
    font-weight: 400;
    font-size: 14px;
    line-height: 0px;
}
